<Label>ZIP Code</Label><input type="text" id="id1" pattern="[0-9]{5}" title="Five digit zip code" />
<script>
function validateZipCode() {
    return document.getElementById("id1").validity.patternMismatch;
    
}
</script>